<div class="head-consult">

  <div>
    <list-courses-students (sendbody)="setBody($event)" (sendcourse)="loadIndicatorsByCourse($event)">
    </list-courses-students>
  </div>

</div>
<!-- <h2 class="title-section">Estadísticos</h2> -->
<mat-divider></mat-divider>

<div *ngIf="stadistics" style="display: flex; justify-content: center;">
  <mat-card *ngIf="stadistics" class="form-card-chart">
    <app-bars [labelTitle]="labelTable" [stadistics]="stadistics" (clearData)="clear($event)"
      [clearByRound]="cleanByRound"></app-bars>
  </mat-card>
</div>

<div *ngIf="loadingIndicators" class="main-container" style="margin-top: 3rem;">
  <mat-spinner></mat-spinner>
</div>

<app-table-stadistics *ngIf="indicators" [indicators]="indicators" [course]="course"></app-table-stadistics>

<div class="table-stadistics" *ngIf="indicators">
  <h2>Actividad del curso</h2>
  <div class="stadistic-course" id="visualization"></div>
</div>