@import '../docentes/docentes.component.css';
@import '../grafoscomparation/grafoscomparation.component.css';

.form-card {
    max-width: 300px;
}

.form-card-chart {
    max-width: 800px;
    margin-right: .5rem;
    flex: 1;
  }

::ng-deep .mat-form-field-infix {
    width: 280px !important;
}

.chart{
    width: 85%;
    padding: 1.5rem;
    /* display: flex;
    justify-content: center; */
}

.head-consult{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.custom-style1 {
  fill: #f2ea00;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #b3ab00;
}

.custom-style2 {
  fill: #00a0f2;
  stroke-width: 2px;
  stroke: #050092;
}

.custom-style3 {
  fill: #00f201;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #029200;
}
path.custom-style3.vis-fill {
  fill-opacity: 0.5 !important;
  stroke: none;
}

.stadistic-course{
  /* margin: .5rem; */
  width: 95%;
}

.table-stadistics{
  border: 1px solid;
  border-radius: .5rem;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .5rem;
}