<div *ngIf="barChartData.length" class="form-card">

    <div>
        <div *ngIf="!loading && barChartData.length" style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </div>
    <!-- <button mat-raised-button color="primary" type="button" (click)="clear()">Limpiar</button> -->
    <!-- <div class="btn-load">
        <button mat-stroked-button color="warn" type="button" (click)="clear()">Limpiar</button>
    </div> -->
    <div *ngIf="selectUser" class="alert">
        Selecciona un usuario
    </div>
</div>