<mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>Cursos</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-form-field>
            <mat-label>curso</mat-label>
            <mat-select [(ngModel)]="courseSelected">
                <mat-option *ngFor="let course of courses" [value]="course" (click)="loadstudentsByCourse(course)">
                    {{course}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-card-content>
</mat-card>