<mat-toolbar color="primary" class="fix-bar">
    <mat-toolbar-row>
        <mat-icon matSuffix>scatter_plot</mat-icon>
        <!-- edited -->
        <span>SeleneVis</span>
        <span class="space-spacer"></span>
        <a *ngIf="showMenu && isAdmin" class="space-icon active" mat-button [routerLink]="['docents']" routerLinkActive="active" >Admin</a>
        <a *ngIf="showMenu" class="space-icon" mat-button [routerLink]="[ '/comparison']" routerLinkActive="active">Sospechosos</a>
        <a *ngIf="showMenu" class="space-icon" mat-button [routerLink]="[ '/stadistics' ]" routerLinkActive="active">Estadisticas</a>
        <a *ngIf="showMenu" class="space-icon" mat-button [routerLink]="[ '/grafoscomparison']" routerLinkActive="active">Comportamientos</a>
        <a *ngIf="showMenu" class="space-icon" mat-button (click)="logout()" >Cerrar Sesión</a>
    </mat-toolbar-row>
</mat-toolbar>