.space-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  
  .space-spacer {
    flex: 1 1 auto;
  }

.fix-bar{
  position: fixed;
  z-index:2;
  top: 0;
}

.mat-toolbar.mat-primary {
  /* background: #673ab7; */
  Background: linear-gradient(45deg, #0b042f, #070677);
  color: #fff;
}