@import '../../summary/summary.component.css';

.grafo{
    width: 100%;
    height: 600px;
    margin: .5rem;
    margin-bottom: 2rem;
    background-color: #F5F5F5;
}

.grafo-container{
    /* width: 35%; */
    width: 95%;
    height: 680px;
    margin: .5rem;
    padding: 10px;
    /* margin-bottom: 2rem; */
    /* background-color: #F5F5F5; */
}

.father-container{
    display: flex;
}

.main-control{
    /* width: 35%; */
    width: 95%;
    padding: 10px;
    /* margin:.5rem; */
    /* margin-bottom: 2rem; */
    /* background-color: #F5F5F5; */

}
.control-panel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: .5rem; */
}

.bars-control{
    width: 100%;
    min-height: 200px;
    max-height: 450px;
}

.goup-grafos{
    display: flex;
    justify-content: center;
    /* border-style: solid; */
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-top: 1rem; */
}

.option-consult{
    margin-bottom:.5rem;
}

.stadistic{
    width: 37%;
    height: 420px;
    margin: .5rem;
}
 
.mat-button-toggle-checked {
    background-color: #673ab7;
    color: #fff;
  }

.title-section{
    position: fixed;
    top: 80px;
    left: 80%;
}

.mat-button-toggle-checked {
    /* background-color: #673ab7; */
    background-color: #070677;
    color: #fff;
}

@media( max-width: 678px ){
    .grafo{
        width: 90%;
    }
}