<div class="goup-grafos">
    <mat-card class="main-control">

        <h2>Interacciones: {{body.student}}</h2>
        <div class="control-panel">

            <div class="option-consult">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="selectedValue">
                    <mat-button-toggle value="dia" (click)="getGrafos()">Consulta por día
                    </mat-button-toggle>
                    <mat-button-toggle value="session" (click)="getGrafos()" selected>Consulta por Sesión
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <!-- <mat-card> -->
            <div>
                <mat-form-field>
                    <mat-label>Opciones</mat-label>
                    <mat-select [(ngModel)]="optionSelected">
                        <mat-option *ngFor="let option of grafoService.options" [value]="option.control || option"
                            (click)="getGrafoByOption(option.control || option)">
                            {{option.control || option}} {{ option.label || '' }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- </mat-card> -->
            </div>
        </div>

        <div class="bars-control mat-elevation-z8" *ngIf="stadistics">
            <app-bars [labelTitle]="labelTable" [stadistics]="stadistics" (clearData)="clearStadistic()"
                [clearByRound]="cleanByRound"></app-bars>
        </div>
    </mat-card>

    <mat-card class="grafo-container">
        <h2> {{body.student}}</h2>
        <div class="grafo mat-elevation-z8" [id]="idNetwork"></div>
    </mat-card>

</div>