<div class="main-container">

    <mat-card class="form-card-chart" *ngIf="stadistics">
        <app-bars [labelTitle]="course" [stadistics]="stadistics" (clearData)="clear()" [clearByRound]="true">
        </app-bars>
    </mat-card>

    <mat-card class="list-card">

        <!--    -->
        <table mat-table [dataSource]="dataSource" matSort matSortActive="student" matSortDisableClear matSortDirection="asc">
            <ng-container matColumnDef="student">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estudiante </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.student}} </td>
            </ng-container>
            <ng-container matColumnDef="Videos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Videos </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.Videos}} </td>
            </ng-container>
            <ng-container matColumnDef="Contenido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contenidos </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.Contenido}} </td>
            </ng-container>
            <ng-container matColumnDef="Foros">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Foros </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.Foros}} </td>
            </ng-container>
            <ng-container matColumnDef="Examenes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Examanes </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.Examenes}} </td>
            </ng-container>
            <ng-container matColumnDef="Sesiones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sesiones </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.Sesiones}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="#SesionesDif">
                <th mat-header-cell *matHeaderCellDef> #SesionesDif </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.numSesionesDif}} </td>
            </ng-container>
            <ng-container matColumnDef="#VideosDif">
                <th mat-header-cell *matHeaderCellDef> #VideosDif </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.numVideosDiferentes}} </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="T. Examen">
                <th mat-header-cell *matHeaderCellDef> T. Examen </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.timeExam}} </td>
            </ng-container>
            <ng-container matColumnDef="T. Videos">
                <th mat-header-cell *matHeaderCellDef> "T. Videos" </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.timeVideos}} </td>
            </ng-container>
            <ng-container matColumnDef="T. Otros">
                <th mat-header-cell *matHeaderCellDef> T. Otros </th>
                <td mat-cell *matCellDef="let indicator"> {{indicator.timeOthers}} </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>

<div *ngIf="loading" class="main-container" style="margin-top: 3rem;">
    <mat-spinner></mat-spinner>
</div>