<div class="main-container">

    <mat-card class="form-card">

        <mat-card-header class="content-center">
            <mat-card-title>Ingresar Docente</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form class="example-form" [formGroup]="docenteForm" novalidate="novalidate">

                <input type="hidden" formControlName="_id">

                <mat-form-field class="full-width">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="name" matInput placeholder="Paulo Vaszquez" value="">
                    <mat-error *ngIf="docenteForm.controls.name.errors?.required">Este campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Curso</mat-label>
                    <!-- <input formControlName="course" matInput placeholder="Curso" value=""> -->
                    <mat-select formControlName="course" multiple>
                        <mat-option *ngFor="let course of listCourses" [value]="course">{{course}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="docenteForm.controls.course.errors?.required">Este campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Correo</mat-label>
                    <input formControlName="correo" matInput placeholder="Correo" value="">
                    <mat-error *ngIf="docenteForm.controls.correo.errors?.required">Este campo es requerido</mat-error>
                    <mat-error *ngIf="docenteForm.controls.correo.errors?.email">Correo no válido</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Selecione un perfil</mat-label>
                    <mat-select formControlName="credencial">
                        <mat-option>None</mat-option>
                        <mat-option value="Docente">Docente</mat-option>
                        <mat-option value="Administrador">Administrador</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" formControlName="password" matInput placeholder="Contraseña" value="">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Repetir Contraseña</mat-label>
                    <input type="password" formControlName="repeatPassword" matInput placeholder="Contraseña" value="">
                </mat-form-field>

            </form>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="addDocente()" [disabled]="docenteForm.invalid">Guardar</button>
        </mat-card-actions>

    </mat-card>


    <mat-card class="list-card">

        <table mat-table [dataSource]="teacherList">

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let user"> {{user.name}} </td>
            </ng-container>
            <ng-container matColumnDef="Curso">
                <th mat-header-cell *matHeaderCellDef> Cursos </th>
                <td mat-cell *matCellDef="let user"> {{user.course.length}} cursos </td>
            </ng-container>
            <ng-container matColumnDef="Correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let user"> {{user.correo}} </td>
            </ng-container>
            <ng-container matColumnDef="Perfil">
                <th mat-header-cell *matHeaderCellDef> Perfil </th>
                <td mat-cell *matCellDef="let user"> {{user.credencial}} </td>
            </ng-container>

            <ng-container matColumnDef="operation">
                <th mat-header-cell *matHeaderCellDef> Operacion </th>
                <td mat-cell *matCellDef="let user; let i = index">
                    <button (click)="editDocente(i)" mat-icon-button color="primary"
                        aria-label="Example icon-button with a heart icon">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button (click)="delDocente(user._id)" mat-icon-button color="warn"
                        aria-label="Example icon-button with a heart icon">
                        <mat-icon>delete</mat-icon>
                    </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
    </mat-card>
</div>
<div>
    v2.0
</div>