<mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-form-field>
            <mat-label>{{subtitle}}</mat-label>
            <mat-select [(ngModel)]="examSelected">
                <mat-option *ngFor="let exam of listData" [value]="exam" (click)="sendOptionSelected(exam)">
                    {{exam || exam.username}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-card-content>
</mat-card>
