<div class="card-consult">

    <app-courseslist (sendCourse)="loadstudentsExamByCourse($event)"></app-courseslist>
    <app-examenlist [title]="'Examenes'" [subtitle]="'Examen'" [listData]="exams" (sendOption)="setExam($event)">
    </app-examenlist>
    
    <div class="suspicious-blocks">
        <h3 style="margin: 0;">Sospechosos</h3>
        <div style="display: flex; flex-direction: row;">
            <app-examenlist [title]="''" [subtitle]="'Estudiante1'" [listData]="listSuspicious"
                (sendOption)="setStudents($event)"></app-examenlist>
            <app-examenlist [title]="''" [subtitle]="'Estudiante2'" [listData]="listSuspicious"
                (sendOption)="setStudentSuspicious($event)"></app-examenlist>
        </div>
    </div>

    <div *ngIf="examSelected && studentSuspiciousSelected.username" class="btn-load">
        <button mat-raised-button color="primary" type="button" (click)="getImgExamen()">Consultar</button>
        <!-- <mat-error *ngIf="selectUser">
            Seleccione un estudiante
        </mat-error> -->
    </div>
</div>
<div *ngIf="studentSelected.username && dataSource" class="footer-califications">
    <div>
        <h2 style="text-align: center;">Comparación estudiantes</h2>
    </div>
    <table class="table-basic">
        <tr>
            <th scope="row">Nombre</th>
            <th>Fecha de Presentación</th>
            <th># Preguntas del Examen</th>
            <th>Coincidencias</th>
            <th>Diferencia de Tiempo</th>
            <th>Procentaje similitud</th>
        </tr>
        <tr>
            <th>{{studentSelected.username}}</th>
            <td>{{dataSource[0].date1 }}</td>
            <td rowspan="2">{{dataSource[0].num_preguntas}}</td>
            <td rowspan="2">{{dataSource[0].coincidencias}}</td>
            <td rowspan="2">{{dataSource[0].dif_tiempo}}</td>
            <td rowspan="2">{{dataSource[0].porcentaje}}%</td>
        </tr>
        <tr>
            <th>{{studentSuspiciousSelected.username}}</th>
            <td>{{dataSource[0].date2}}</td>
        </tr>
    </table>

</div>
<div *ngIf="listStudents.length" class="container-img">

    <div class="section-img">
        <div *ngIf="imgSuspicious">
            <h2>Resumen del examen</h2>
            <div class="flex-row">
                <img class="img-comparation" [src]="imgSuspicious" alt="">
                <img class="img-comparation" *ngIf="imgSuspicious_T" [src]="imgSuspicious_T" alt="">
            </div>
        </div>

        <!-- <mat-divider></mat-divider> -->

        <div *ngIf="imgTotal">
            <h2>Resumen del curso</h2>
            <div class="flex-row">
                <img class="img-comparation" [src]="imgTotal" alt="">
                <img class="img-comparation" *ngIf="imgTotal_T" [src]="imgTotal_T" alt="">
            </div>
        </div>
    </div>

</div>