@import '../summary/summary.component.css';

.btn-load{
    text-align: center;
    width: 100%;
    margin: 1rem;
}

.card-consult{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-img{
    width: 99%;
    background-color: #ECEFF1;
    display: flex;
    flex-direction: row;
    margin: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.section-students{
    width: 230px;
    height: 500px;
    background-color: #B3E5FC;
    padding: .5rem;
    overflow: auto;
}

.section-img{
    /* width: 74%; */
    background-color: #EEEEEE;
    text-align: center;
    padding: .5rem;
}

.flex-row{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    border: 1px solid;
    border-radius: .5rem;
    padding: .5rem;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.img-comparation{
    max-width: 100%;
    min-width: 50%;
    height: auto;
}

.footer-califications{
    display: flex;
    flex-direction: column;
    width: 98%;
    /* background-color: #CFD8DC; */
    padding: .5rem;
    margin: .5rem;
    margin-bottom: 2rem;
}

.display-time{
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.suspicious-blocks{
    display: flex;
    flex-direction: column;
    border: 1px solid #070677;
    border-radius: .5rem;   
    padding: .5rem
}

.table-basic{
    padding: .2em .8em;
    border: 1px solid rgba(20,50,90,0.25);
    background: rgba(0,102,255,0.25);
    text-align: center;
}
.table-basic th {
    padding: .2em .8em;
    border: 1px solid rgba(20,50,90,0.25);
    background: rgba(0,102,255,0.25);
    text-align: center;
}
.table-basic td {
    padding: .2em .8em;
    border: 1px solid rgba(16,76,167,0.25);
    background: rgba(90,156,255,0.25);
    text-align: left;
}

@media ( max-width: 900px ){
    .flex-row{
        flex-wrap: wrap;
    }
}