<div class="head-consult">
    <!-- <list-courses-students (sendbody)="getGrafos($event)" (sendcourse)="clear()"></list-courses-students> -->
    <app-courseslist (sendCourse)="getStudentsByCourseAndSuspicious($event)"></app-courseslist>

    <div class="suspicious-blocks">
        <h3 style="margin: 0;">Estudiantes</h3>
        <div style="display: flex; flex-direction: row;">
            <app-examenlist [title]="''" [subtitle]="'Estudiante1'" [listData]="listStudents"
                (sendOption)="selectStudentToBody($event)"></app-examenlist>

                <!-- listSuspicious -->
            <app-examenlist [title]="''" [subtitle]="'Estudiante2'" [listData]="listStudents"
                (sendOption)="setStudentSuspicious($event)"></app-examenlist>
        </div>
    </div>
</div>

<!-- <h2 class="title-section">Comportamientos</h2> -->
<mat-divider></mat-divider>

<div class="father-container">
    <div class="border-grafos" *ngIf="body.student">
        <app-grafostadisctics [idNetwork]="'mynetwork'" [body]="body"></app-grafostadisctics>
    </div>
    <div class="border-grafos" *ngIf="bodysuspicious.student">
        <app-grafostadisctics [idNetwork]="'mynetworksuspicious'" [body]="bodysuspicious"></app-grafostadisctics>
    </div>
</div>